html {
  padding: 0;
}

ul {
  padding: 0;
}

.width {
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.main {
  border: 3px solid black;
  box-shadow: 1px 2px  black;
  margin: 5px 5px 5px 5px;
}

.main li:nth-child(odd) {
  background-color: #f5f5f5;
}

a {
  color: black;
}

.nav-link {
  color: black;
}

button {
  box-shadow: 5px 5px  black;
  border: 3px solid black;
}

.underline {
  margin: 0 auto;
  width: 60%;
}

form {
  width: 50%;
  margin: 0 auto;
}

.list {
  justify-self: flex-end;
}

hr {
  background-color: black;
  border: 1px solid black;
  opacity: 1;
  box-shadow: 5px 1px  black;
}

.navHeader {
  border: 3px solid black;
  box-shadow: 1px 2px  black;
  margin: 5px 5px 5px 5px;
}
